<!DOCTYPE html>
<html>
	<head>
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="ryan ryin ryen rian noack novack noak comic comedy comedian stand up stand-up liquid laughs liquid-laughs humor media video videos audio clips reviews dvd cd tour show shows" />
 		<title>Demo | vArmory</title>
 		<link rel="stylesheet" type="text/css" href="/static/ffl/bootTest.css" />
        <!--<link rel="stylesheet" type="text/css" href="stylesheet.css" />-->
        <link rel="stylesheet" href="/static/ffl/css/bootstrap.min.css">
        <link rel="/static/ffl/css/bootstrap-theme.min.css">		  
	</head>
	<body>
   <p>Hello World!</p>   {% block content %}   <a href={% url 'link' %}>Where to now?</a>   {% endblock %}
        	
	</body>
</html>