<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/ffl/bootTest.css" />
<link rel="stylesheet" href="/static/ffl/css/bootstrap.min.css">
</head>
<div class="row col-md-4 col-md-push-4">
{% block content %}
    <h2>vArmory Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.price }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            
        {% endif %}
		{% endblock %}
    </form>

</div>